$blue: #0082c8;
$highlight-color: #f4d442;

//@import '../node_modules/gel-sass-tools/sass-tools';

// Mixins
@mixin thing {
  position: relative;
  width: 16px;
  height: 23px;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  top: 2px;
}

// APP
.archive-meta {
  position: absolute;
  //border: 1px solid blue;
  width: 33%;
}

.archive-content {
  //border: 1px solid red;
}

svg {
  //border: 1px solid green;
  width: 100%;
  heigth: 100%;

  g {
    //border: 1px solid blue;
  }
}

#thumbnails {
  //border: 1px solid green;
  margin-top: 20px;

  .thumbnail {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 178px;
    height: 100px;
  }

  .thumbnail .meta {
    color: white;
    margin-top: -50px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
  }
}

select {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(166, 166, 166);
  border-image: initial;
  font-size: 16px;

  option {
    min-height: inherit;
  }
}

label {
  font-size: smaller;
}

#archive {
  a:hover {
    text-decoration: none;
  }

  margin-top: 40px;

  button {
    background-color: #0082c8;
    font-size: smaller;
  }

  .slideshow-button {
    width: 178px;
    margin-bottom: 20px;

    button#slideshow-button {
      width: 178px;
    }
  }

  .transport {

    button {
      background-color: transparent;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid white;
      }
    }

    button#slideshow-button {
      position: absolute;
      top: 0px;
      right: 0px;
      font-weight: bold;
    }

    .play-stop {
      min-width: 15%;
    }

    .rate {
      position: absolute;
      top: 24px;
      left: 24px;
    }
  }
}

.no-data-found {
  padding-top: 20%;
}

.date-select {
  min-width: 5%;
}

.slideshow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;

  .transport {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
  }

  .images {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .meta {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 0px solid red;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: smaller;
  }

}

// Utils
.center-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
  height: 500px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.black {
  color: black;
}

.left-margin {
  margin-left: 20px;
}

.truncated {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 2;
  width: 80%;
  margin-right: 12px;
}

.smaller-font {
  font-size: smaller;
}

.help {
  &:hover {
    cursor: help;
  }
}

@keyframes highlight {
  0% {
    background: $highlight-color;
  }
  100% {
    background: none;
  }
}

.highlight {
  animation: highlight 2s;
  animation-iteration-count: 1;
}

/* iPhone 6 Portrait */
@media screen and (min-width : 375px) and (max-width : 667px) {
  .archive-meta {
    position: relative;
    // border: 1px solid blue;
    width: 100%;
    margin-bottom: 40px;
  }

  select {
    font-size: 16px;
  }

  select.location {
    width: 100%
  }
  select.date {
    width: 33.3%
  }

  #archive {
    button {
      padding: 0 2rem;
    }
    .slideshow-button {
      width: 355px;
      button#slideshow-button {
        width: 355px;
      }
    }
    .transport {
      .rate {
        display: none;
      }
    }
  }

  #thumbnails {
    margin-top: -345px;
    overflow: hidden;

    .thumbnail {
      width: 355px;
      height: 190px;

      img {
        width: 355px;
        // max-width: inherit;
      }
    }

    .thumbnail .meta {
      // font-size: 16px;
    }
  }
}

/* iPhone 6 Landscape */
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {

  #thumbnails {
    margin-top: 0px;

    .thumbnail {
      width: 645px;
      height: 350px;
      // border: 1px solid red;

      img {
        width: 665px;
        // max-width: inherit;
      }
    }
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .archive-meta {
    position: relative;
    border: 0px solid blue;
    width: 100%;
    margin-bottom: 40px;
  }

  select {
    font-size: 16px;
  }

  select.location {
    width: 100%
  }
  select.date {
    width: 33.3%
  }

  #thumbnails {
    margin-top: -485px;
    border: 0px solid red;

    .thumbnail {
      margin-right: 3px;
      margin-bottom: 4px;
      img {
      }
    }

    .thumbnail .meta {
    }
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

  #thumbnails {
    margin-top: -185px;
    border: 0px solid red;

    .thumbnail {
      margin-right: 16px;
      margin-bottom: 16px;
      img {
      }
    }

    .thumbnail .meta {
    }
  }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  .archive-meta {
    position: relative;
    border: 0px solid blue;
    width: 100%;
    margin-bottom: 40px;
  }

  select {
    font-size: 16px;
  }

  select.location {
    width: 100%
  }
  select.date {
    width: 33.3%
  }

  #thumbnails {
    margin-top: -485px;
    border: 0px solid red;

    .thumbnail {
      margin-right: 3px;
      margin-bottom: 4px;
      img {
      }
    }

    .thumbnail .meta {
    }
  }

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  #thumbnails {
    margin-top: -185px;
    border: 0px solid red;

    .thumbnail {
      margin-right: 16px;
      margin-bottom: 16px;
      img {
      }
    }

    .thumbnail .meta {
    }
  }

}
